body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
  }
  
  header, footer {
    background-color: #000000;
    padding: 20px;
  }
  
  section {
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  h2 {
    margin-top: 30px;
    color: #17b36d;

  }
  
  ul {
    list-style-type: disc;
    padding-left: 30px;
}

ul a { /* corrected a selector */
    color: #3d0cb0;
    text-decoration: none;
}

ul a:hover { /* corrected hover state */
    color: #db1717;

  }
  
  footer p {
    margin: 0;
  }
  a{
      text-decoration: none; 
      
    }
    a:hover
    {
      color:#db1717;
    
    }
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

header, footer {
    background-color: #000000;
    padding: 20px;
}

section {
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 30px;
    color: rgb(61, 12, 176); /* corrected color code */
}

ul {
    list-style-type: disc;
    padding-left: 30px;
}

ul a { /* corrected a selector */
    color: rgb(61, 12, 176);
    text-decoration: none;
}

ul a:hover { /* corrected hover state */
    color: #db1717;
}

footer pa {
    color: #ffffff;
}

footer p a:hover {
    color: #db1717;
}